<div class="rounded-lg border border-white/10 bg-white/5 p-4 transition hover:bg-white/8 cursor-pointer">
  <%= link_to new_course_study_group_path(course), 
              class: "w-full flex items-center justify-center text-sm font-medium text-primary-300 hover:text-primary-200 transition group cursor-pointer",
              data: { turbo_frame: "new_group_form" },
              id: "create_group_button" do %>
    <svg class="mr-1.5 h-4 w-4 transition-transform group-hover:scale-110 group-active:scale-90" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"/>
    </svg>
    Create Study Group
  <% end %>
</div>
