<% if turbo_frame_request? %>
  <turbo-frame id="course_<%= @study_group.course.course_id %>_details">
    <%= render "study_groups/detail_body", study_group: @study_group, members: @members %>
  </turbo-frame>
<% else %>
  <div class="container">
    <%= link_to "â† Back to #{@study_group.course.course_name}", course_path(@study_group.course), class: "back-link" %>

    <div id="flash_messages" class="flash-container"></div>

    <%= render "study_groups/detail_body", study_group: @study_group, members: @members %>
  </div>
<% end %>

